.mainContainer {
  padding: 2rem;
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.homeWrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.bordered {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 1rem;

}

.info {
  display: grid;
  gap: 1rem;
}

.summary {
  display: grid;
  gap: 1rem
}

.flexLine {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.flexLine:hover {
  background-color: #f0f0f0;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}

.list {
  display: grid;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  gap: 0.5rem;

}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.orderBtn {
  color: white;
  background-color: green;
  border: none;
  width: 100%;
  padding: 1rem;
}

.orderBtn:disabled {
  background-color: dimgrey;
}

.smallText {
  font-size: 0.7rem;
}

.countBtn {
  border: none;
  border-radius: 50%;
}

.okImage {
  display: flex;
  align-items: center;
}

.creditCardItemContainer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creditCardsDetails {
  display: grid;
  gap: 0.5rem;
}

.plus {
  color: blue;
  font-size: 3rem;
}


